---
import { Image, getImage } from "astro:assets";
import logo from "@assets/logo.svg";
import square from "@assets/square.png";
---

<html>
  <body>
    <!-- This SVG goes through /_image -->
    <Image src={logo} width={140} alt="SVG logo via astro:assets" />

    <!-- This SVG uses Vite /@fs and works -->
    <img src={logo.src} width="140" alt="SVG logo via img src" />
    <br/>

    <!-- This PNG goes through /_image -->
    <Image src={square} width={256} alt="PNG square via astro:assets" />

    <!-- This PNG uses Vite /@fs and works -->
    <img src={square.src} width="256" alt="PNG square via img src" />
  </body>
</html>
